<dropdown-gateway-status>
    <select name="{ props.name || dropdown.name }" id="{ dropdownId }" class="{ props.elClass }" onchange="{ callback }">
        <option value="{ item.name }" each="{ item in state.items }">{ item.title }</option>
    </select>
    <script>
        import controller from './dropdown-gateway-status'
        export default controller
    </script>
</dropdown-gateway-status>